body {
  background-color: #ae1332;
  font-family: dm sans;
}

.container {
  width: 1280px;
}

.contact-section {
  text-align: center;
}

.cntct {
  /* padding: 0 32px; */
}

.contact-hdr {
  color: #fff;
  justify-content: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: dm sans;
  font-size: 64px;
  font-weight: 500;
  line-height: 64px;
  letter-spacing: -2.56px;
  text-transform: uppercase;
  width: 740px;
  display: inline-block;
  transform: translatey(70%);
}

.contact-img {
  gap: 24px;
  display: flex;
  justify-content: center;
  padding: 0 32px;
}

.img-melon {
  width: 792px;
  height: 502px;
  border-radius: 20px;
}

.img-berry {
  width: 400px;
  height: 502px;
  border-radius: 20px;
}

.contact-order {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  width: 492px;
  padding-top: 80px;
}

.contact-slogan {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
  font-family: dm sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  width: 492px;
}

.contact-textbox {
  color: #fff;
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  border-radius: 100px;
  border: 1px solid #fff;
  opacity: 0.3;
  width: 292px;
  height: 48px;
  padding-left: 24px;
  font-family: dm sans;
}

.contact-button {
  border: 1px solid #9dc162;
  border-radius: 100px;
  background: #9dc162;
  display: inline-flex;
  padding: 15px 35px;
  align-items: center;
  gap: 15px;
  color: #fff;
  font-family: dm sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.56px;
  text-transform: capitalize;
  position: absolute;
  transform: translateX(-100%);
  cursor: pointer;
  padding-top: 17px;
  height: 48px;
}

.contact-subs {
  display: inline-flex;
  padding-bottom: 150px;
}
