@import './mobile';

.Nav{
    background-color: var(--WHITE);
    height: 258px;
}
.company-name{
    color: var(--RED);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;
}

.company-icon{
    fill: var(--RED);
}

.nav-logo{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}