.Nav-Bar{
    background-color: var(--WHITE);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name{
    color: var(--RED);
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;  
}

.company-icon{
    fill: var(--RED);
}

.nav-logo{
    width: 427px;
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
}

.link-list{
    width: 427px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    padding: 32px 16px;
}

.shopping-logo{
    width: 427;
    padding: 32px 16px;
    display:inline-flex;
    justify-content: flex-end;
    align-items: center;
}

.link-list-item a{
    color: var(--RED);
    text-align: center;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
}



@media (min-width:375px) and (max-width:767px) {
    .link-list,
    .shopping-logo
    {
        display:none
    }
    .nav-logo{
        flex-basis: calc(100% / 2 - 30px);
        justify-content: flex-start;
        align-items: center;
    }
    .toggle-btn{
        padding: 13px 20px;
    }
    
}
@media only screen and (min-width:768px) and (max-width:1279px){
    .menu-toggle{
        display: none;
    }
}
@media (min-width:1280px){
    .menu-toggle{
        display: none;
    }
    .Nav-Bar{
        flex-basis: calc(100% / 3 - 3-px);
    }
}