@import './mobile';

.Nav-Bar{
    background-color: var(--WHITE);
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.company-name{
    color: var(--RED);
    text-align: center;
    font-family: DM Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.56px;
    text-transform: uppercase;  
}

.company-icon{
    fill: var(--RED);
}

.nav-logo{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap:8px;
    flex-shrink: 0;
}
