.hero-section{
    background-color: #AE1332; 
 }
 .h1-text{
   display: flex;
   justify-content: center;
   position: relative;
  
 }
 .hero-box{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
 }
 .container-left{
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   gap: 44px;
 }
 
.container-middle{
   display: inline-flex;
   flex-direction: column;
   align-items: center;
}
 .container-right{
   display: inline-flex;
   flex-direction: column;
   justify-content: center;
   gap: 44px;
 }

.container-text{
   margin-left: 100px;
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 64px;
   font-style: normal;
   font-weight: 500;
   line-height: 64px; /* 100% */
   letter-spacing: -2.56px;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   margin-top: 115px;
}
.woman{
   height: 740px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: -124px;
}
.woman1{
   border-radius: 500px;
   border: 4px solid;
   border-color: #AE1332;
   border-width: 0 12px 24px 12px;
   outline: 1px solid;
   outline-color: #FFF;
}

.watermelon-text{
   color: #FFF;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 14px;
   font-style: normal;
   font-weight: 400;
   line-height: 18px; /* 128.571% */
   letter-spacing: -0.56px;
}

.fruit-text-left{
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px; /* 116.667% */
   letter-spacing: -0.48px;
   padding-top: 28px;
   padding-bottom: 61px;
}
.refresh-text{
   width: 156px;
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 14px; /* 116.667% */
   letter-spacing: -0.48px;
   text-transform: uppercase;
}

.shop-btn{
   width: 132px;
   height: 132px;
   border-radius: 50%;
   background-color: white;
   border: none;
   transform: rotate(-14deg);
   margin-top: -120px;
}
.shop-btn a{
   width: 84px;
   color: #AE1332;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 32px;
   font-style: normal;
   font-weight: 500;
   line-height: 30px; /* 100% */
   letter-spacing: -0.12px;

}
.shop-btn a :hover,
.shop-btn :hover
{
   cursor: pointer;
   color: #A4CB66;
}
.oval-yellow{
   border-radius: 500px;
   width: 249px;
   height: 387px;
   background-color: #F5CE13; 
   display: inline-flex;
   flex-direction: column;
   align-items: center;
}
.oval-green{
   border-radius: 500px;
   background: #A4CB66;
   width: 249px;
   height: 387px;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
}

.melon{
   width: 200px;
   height: 173px;
}

.fruit-text-right{
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 400;
   line-height: 14px; /* 116.667% */
   letter-spacing: -0.48px;
   padding-top: 28px;
   margin-bottom: 61px;
}

.sweet1{
   width: 163px;
   color: #FFF;
   text-align: center;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 14px; /* 116.667% */
   letter-spacing: -0.48px;
   text-transform: uppercase;
}

.hashtag-list-item{
   padding: 12px 32px;
   border: 1px solid white ;
   border-radius: 1000px;
   text-align: center;
}
.hashtag-list{
   width:269px;
   display: inline-flex;
   flex-direction: row;
   justify-content: flex-end;
   flex-wrap: wrap;
   gap: 8px;
}
.hashtag-list-item span{
   color: #FFF;
   text-shadow: 0px 4px 70px rgba(0, 0, 0, 0.10);
   font-family: DM Sans;
   font-size: 12px;
   font-style: normal;
   font-weight: 500;
   line-height: 14px; /* 116.667% */
   letter-spacing: -0.48px;
   text-transform: uppercase;
}

@media only screen and (min-width:375px) and (max-width:767px)
{
   .hero{
      width: 375px;
   }
   .hero-section{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   .h1-text{
      width: 512px;
      height: 188px;
   }
   .container-text{
      font-size: 28px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px; /* 100% */
      letter-spacing: -1.12px;
      text-transform: uppercase;
   }
   .woman{
      width: 836px;
      height: 509px;
   }
}

@media (min-width:1280px){
   .container{
      width:1280px;
   }
   .hero-box{
      flex-basis: calc(100% / 3 - 30px);
   }
}