/*Global Variables*/

:root{
    --RED: #AE1332;
    --WHITE: #FFFFFF;
    --LIGHTGREEN:#A4CB66;
    --GOLDENORCHE:#F5CE13;
    --STRAWBERRY:#F8766B;
    --BANANA: #EDD251;
    --WATERMELONGREEN:#9DC262;
    
}

li{
    list-style: none;
}
body{
    width: 1556px;
}
.container{
    margin-left: auto;
    margin-right: auto;
}