<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./contact.css/styles.css">
    <title>Contact Section</title>
  </head>
  <body>
    <div class="contact-section container">
      <h2 class="contact-hdr">Fresh Harvest Box has got you covered</h2>
      <div class="contact-img">
        <img class="img-melon" src="../images/melon.jpg" alt="melon" />
        <img class="img-berry" src="../images/berry.jpg" alt="berry" />
      </div>
      <p class="contact-slogan">
        Our boxes are packed with delicious, nutritious fruits and vegetables,
        perfect for anyone looking to eat healthier or support local farmers.
        Order your box today and start enjoying the best that nature has to
        offer!
      </p>

      <div class="contact-subs">
        <form action="" class="contact-form form">
          <label class="footer-label label">
        
            <input
              type="email"
              name="email"
              id="contact-email"
              placeholder="Enter email..."
              class="contact-textbox"
              required
            />
          </label>
          <button class="button contact-button" type="submit">
            Send
          </button>
        </form>
      </div>

    </div>
  </body>
</html>
