<nav class="Nav-Bar container">
    <div class="nav-link">
        <ul class="link-list">
            <li class="link-list-item"><a href="#">How It Works</a></li>
            <li class="link-list-item"><a href="#">Fruits</a></li>
            <li class="link-list-item"><a href="#">Contacts</a></li>
        </ul>
    </div>
    <!--Logo-->
    <div class="nav-logo">
        <svg class="company-icon" width="16" height="16">
            <use href="/src/images/icons.svg#vector-dotted-icon"></use>
            <p class="company-name">FRESH HARVEST BOX</p>
        </svg>
    </div>

    <div class="shopping-logo">
        <svg class="shopping-icon" width="28" height="28">
            <use href="/src/images/icons.svg#uil_cart-icon"></use>
        </svg>
    </div>

    
</nav>
