<section class="hero-section container"> 

    <!-----------------------------------container 1-------------------------------------------------------------------->
    <div class="h1-text">
        <h1 class="container-text">
                fresh harvest box <br/>
                is your one-stop place for 
                a delicious fruit basket
        </h1>
        <div class="photo-cont hero-photo-cont strawberry-cont">
            <img src="/src/images/stawberry.png" class="image hero-image strawberry-image"/>
        </div>
        <div class="photo-cont hero-photo-cont banana-cont">
            <img src="/src/images/banana-blur.png" class="image hero-image banana-image" />
        </div>
    </div>
    <div class="container-middle" id="middle-mobile">
        <div class="woman"><img src="/src/images/young-woman.png" class="woman1"></div>
        <button class="shop-btn" type="button">
            <a href="#fruits"><p>SHOP</br>NOW</p></a>
        </button>
    </div>
    <div class="hero-box">
        <div class="container-left" id="desktop"> 
            <p class="watermelon-text">
                Our expertly curated fruit baskets</br> 
                are made with the freshest, highest </br>
                quality fruits available. Whether you </br>
                are looking for a healthy snack or a </br>
                gift for a loved one, Fresh Harvest Box </br>
                has got you covered.
            </p>

            <div class="oval-green">
                <p class="fruit-text-left">Fruit</p>
                <img src="/src/images/watermelon.png" class="melon">
                <div class="refresh">
                <p class="refresh-text">Refreshing and juicy, <br/>
                    watermelon is the <br/>
                    perfect summer treat <br/>
                    and a great source of <br/>
                    hydration</p>
                    </div>
                </div>   
        </div>
    <!--<div class="banana"><img src="/src/images/banana-blur.png" class="saging"></div>
    <div class="straw"><img src="./images/straw.png" class="berry"></div>-->
    <div class="container-middle" id="middle-desktop">
        <div class="woman"><img src="/src/images/young-woman.png" class="woman1"></div>
        <button class="shop-btn" type="button">
            <a href="#fruits"><p>SHOP</br>NOW</p></a>
        </button>
    </div>                    
        <div class="container-right" id="desktop">
            <div class="oval-yellow">
                <p class="fruit-text-right">Fruit</p>
                <img src="./images/basket.png" class="fruit-basket1">
                    <div class="sweet">
                        <p class="sweet1">Sweet and juicy, </br>
                        strawberries are packed</br>
                        with vitamin C and </br>
                        antioxidants, making them</br>
                        a delicious and healthy</br>
                        snack</p>
                    </div>
                </div>
            <div class="hashtag">
                <ul class="hashtag-list">
                    <li class="hashtag-list-item"><h3>#ORGANIC</h3></li>
                    <li class="hashtag-list-item"><h3>#PRODUCTS</h3></li>
                    <li class="hashtag-list-item"><h3>#BASKET</h3></li>
                    <li class="hashtag-list-item"><h3>#FRUITS</h3></span></li>
                </ul>
            </div>
        </div>  
    </div>
</section>

















