<h3 class="how-to">To Order Your Fruit Basket,<br/>
simply follow these easy steps</h3>

<p> Our basket are assembled with care and delivered straight to your dorsteep, so you <br />
can enjoy the taste of fresh fruit without ever leaving your home. Whether you're <br/>
looking for a heathy snak or a thoughtful gift, our fruit baskets are the perfect choice.</p>

<div class="to-order">
    <li class="steps">
        <h4>First Step</h4>
        <p class="text">Just choose the fruit you <br />
        want to order by clicking on <br />
        the checkboxes next to it.</p>

        <h4>Second Step</h4>
        <p class="text">Click on the basket and fill <br />out the form.</p>

        <h4>Third Step</h4>
        <p class="text">Sit back and relax! Your fresh fruit <br />basket will be delivered.</p>

    </li>

    <img src="../images/gif.jpg" alt="berries" widht="860px;" height="476px";

    </a>
</div>